<!DOCTYPE html>
<html>
<head>
</head>
<body class="contenedor">
    <div class="cabezote">
        <img [attr.src]="'assets/img/Cabecera.png'" alt="" class="responsiveImage">
    </div>
    <p Class="texto-titulo">Consultores</p>
    <div class="formulario-tabla">
        <font face="Segoe IU" >
            <table id="dataConsultor" class="table table-striped table-bordered table-sm row-border hover">
                <thead>
                    <tr>
                        <th>Consultor</th>
                        <th style="display:none">Error</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of data">
                        <td>{{group.user}}</td>
                        <td style="display:none">{{group.ERROR_TYPE}}</td>
                    </tr>
                </tbody>
            </table>
        </font>
        <button class="btonMenu" style="margin: 20px" type="submit" (click)="relatorio()">Relatório</button>
        <button class="btonMenu" style="margin: 20px" type="submit" (click)="atras()">Cancelar</button>
    </div>
</body>
</html>
