html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlaySpinner{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .responsiveImage {
    padding: 1rem 0rem 1rem 2rem;
    width: 17%;
    height: auto;
  }
  
  .contenedor {
    width: auto;
  }
  
  .cabezote {
    overflow: hidden;
    height: 17%;
    width: auto;
    margin: auto;
    background: #FFDD00;
  }
  
  .texto-cabezote {
    font-family: "Segoe IU", candara;
    font-weight: bold;
    display: block;
    text-align: right;
    margin-bottom: 30px;
    width: 30%;
    color: #0b181a;
  }
  
  .texto-titulo {
    font-family: "Segoe IU", candara;
    font-size: 200%;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #051618;
  }
  
  .texto-secundario {
    font-family: "Segoe IU", candara;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: #0b181a;
  }
  
  .formulario-home {
    margin: 0px auto 30px;
    width: 10rem;
    border: 1px solid #ccc;
    padding: 1rem 7rem 2rem 7rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: .4rem;
    text-align: center;
  }
  
  .btnSalir {
    border-color: #f1c40f;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #2da1b1 50%, transparent 50%);
    background-image: linear-gradient(45deg, #2da1b1 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  
  .btnSalir:hover {
    background-position: 0;
  }
  
  .btonMenu {
    font-family: "Segoe IU", candara;
    font-size: auto;
    font-weight: 600;
    text-align: center;               
    border-radius: .4rem;
    border-color: #f1c40f;
    color: rgb(0, 0, 0);
    padding: auto;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .btonMenu:hover {
    background-position: 0;
  }
  
  .formulario-tabla {
    font-family: "Segoe IU", candara;
    font-size: auto;
    margin: 0% 2% auto 2%;
    border: 1px solid #ccc;
    padding: 2rem 3rem 1rem 3rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: .3rem;
    text-align: center;
    overflow-x: auto;
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
  
    .cabezote {
      overflow: hidden;
      height: auto;
      width: auto;
      margin: auto;
      background: #FFDD00;
    }
  
    .texto-titulo {
      font-family: "Segoe IU", candara;
      font-size: 100%;
      font-weight: bold;
      display: block;
      text-align: center;
      color: #051618;
    }
  
    .formulario-home {
      margin: 0px auto 30px;
      width: 10rem;
      border: 1px solid #ccc;
      padding: 1rem 3rem 2rem 3rem;
      overflow: hidden;
      box-shadow: 0px 0px 10px #ccc;
      border-radius: .4rem;
      text-align: center;
    }
  
    .formulario-tabla {
      font-family: "Segoe IU", candara;
      font-size: auto;
      margin: 0% auto auto auto;
      width: auto;
      border: 1px solid #ccc;
      padding: 2rem 3rem 1rem 3rem;
      overflow: hidden;
      box-shadow: 0px 0px 10px #ccc;
      border-radius: .3rem;
      text-align: center;
      overflow-x: auto;
    }
  }