<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="contenedor">
    <div class="cabezote">
        <img [attr.src]="'assets/img/Cabecera.png'" alt="" class="responsiveImage">
    </div>
    <br>
    <p Class="texto-titulo">Prueba Agence - Jaime Andrade</p>
    <p Class="texto-secundario">Click el boton para ingresar</p>
    <div class="formulario-home">
        <font face="Segoe IU" >
            <button class="btonMenu" style="margin: 20px" type="submit" (click)="ingresar()">Ingresar</button>
        </font>
    </div>
</body>
</html>